extends layout

block content
  if info  
    .row
          .col-12.alert.alert-info(role="alert")
            strong #{info}
  .row
    .addAuctionButton
      form(role='form', action='/auctions/new', method='get')
        button.btn.btn-success(type='submit') Dodaj nową aukcję
  ul.list-group.auctionsList
    each auction in auctions
      li.list-group-item.col-12
        .row
          .col-md-2.col-12.auctionsListImage
            a(href="/auctions?id="+auction.id)
              img(src="/images/"+auction.img)
          .col-md-8.col-12.auctionsListDescription
            a(href="/auctions?id="+auction.id) #{auction.title}
          .col-md-2.col-12.auctionsListPrice
            if auction.finished
              p Zakończona
            else if auction.buyNow
              p Kup teraz: #{auction.price} zł
            else 
              p Licytacja: #{auction.price} zł
  ul.pagination
    - let n = Math.ceil(numberOfAuctions/5);
    - let i = 1;
    while i <= n
      li.page-item
        a.page-link(href="/?page=" + i)= i++          
            
      

    
